* {
    margin: 0;
    padding: 0;
}

header,
nav {
    /* canh giữa cách lề mỗi bên 10% */
    margin: 5px 5%;
}

nav {
    background: #484848;
    /*tô màu cho menu cha*/
    border-radius: 5px;
    /* bo góc */
}

#logo img {
    max-height: 100px;
}

nav ul {
    display: flex;
}

nav>ul li {
    list-style: none;
    /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
    border-right: 1px solid #ccc;
    border-left: 1px solid #333;
}

nav>ul li a {
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #f1f2f3;
    text-decoration: none;
}

nav ul li:first-child {
    border-left: none;
    /* bỏ đường kè trái của phần tử đầu tiên */
}

nav>ul li:first-child a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* Khi hover đến li, tô màu cho thẻ a */
nav ul li:hover>a {
    background: red;
    opacity: .7;
    color: yellow;
}

/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
nav li ul {
    display: none;
    min-width: 350px;
    position: absolute;
}

nav li>ul li {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #999;
    text-align: left;
}

nav li>ul li:first-child a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

nav li>ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav li>ul li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*khi hover thì hiện menu con*/
nav li:hover>ul {
    display: block;
}

/*Hiển thị menu con cấp 2,3,4 bên cạnh phải*/
nav>ul li>ul li>ul {
    margin-left: 352px;
    margin-top: -50px;
}

.chuchay1 {
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin: 5px 5%;
}

.ketthuc {
    font-weight: bold;
    font-size: 20px;
}

.ketthuc a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

.main {
    background: #fff;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

#mainnav ul {
    display: block;
    /* background: #3B5998; */
    list-style: none;
    padding: 0px;
    width: 200px;
    text-align: left;
}

#mainnav ul li {
    position: relative;
    width: 200px;
    background: #999;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
}


#mainnav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 16px;
    display: block;
}


#mainnav .sub-menu {
    position: absolute;
    left: 200px;
    top: 0px;
    width: 200px;
    display: none;
    text-align: left;
    border-left: 1px solid #fff;
    font-size: 90%;
    border-radius: 0px 10px 10px 0px;
}

#mainnav li:hover .sub-menu {
    display: block;
    color: red;
}

#mainnav .sub-menu2 {
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
    border-left: 1px solid #fff;
    border-radius: 0px 10px 10px 0px;
    display: none;
}

#mainnav .sub-menu li:hover .sub-menu2 {
    display: block;
}

#mainnav .sub-menu3 {
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
    border-left: 1px solid #fff;
    border-radius: 0px 10px 10px 0px;
    display: none;
}

#mainnav .sub-menu2 li:hover .sub-menu3 {
    display: block;
}
